@page
@model Presentaion.Pages.ArtWork.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ArtWork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArtWork.Id" />
            <div class="form-group">
                <label asp-for="ArtWork.Title" class="control-label"></label>
                <input asp-for="ArtWork.Title" class="form-control" />
                <span asp-validation-for="ArtWork.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtWork.Description" class="control-label"></label>
                <input asp-for="ArtWork.Description" class="form-control" />
                <span asp-validation-for="ArtWork.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtWork.Position" class="control-label"></label>
                <input asp-for="ArtWork.Position" class="form-control" />
                <span asp-validation-for="ArtWork.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtWork.Size" class="control-label"></label>
                <input asp-for="ArtWork.Size" class="form-control" />
                <span asp-validation-for="ArtWork.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtWork.Time" class="control-label"></label>
                <input asp-for="ArtWork.Time" class="form-control" />
                <span asp-validation-for="ArtWork.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtWork.ArtistId" class="control-label"></label>
                <select asp-for="ArtWork.ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                <span asp-validation-for="ArtWork.ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
