@page
@model Presentaion.Pages.Login.LoginPage

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Animated LoginPage Form</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="background">
    <div class="box">
        <div class="form">
            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="text" required="required">
                <span>UserName</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>PassWord</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Forgot PassWord</a>
                <a href="#">Signup</a>
            </div>
            <input style="align-self: center;" type="submit" value="LoginPage">
        </div>
    </div>
    </div>
</body>

</html>