@page
@model Presentaion.Pages.RegisterPage

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <title>Animated Login Form</title>
    <link rel="stylesheet" href="css/register.css">
</head>

<body>
<div class="background">
    <div class="box">
        <form method="post">
        <div class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Register</h2>
            <div class="inputBox" class="form-group">
                <input asp-for="CreateCustomer.UserName" required="required">
                <span >UserName</span>
                <i></i>
            </div>
            <div class="inputBox" class="form-group">
                <input asp-for="CreateCustomer.Password" required="required">
                <span>PassWord</span>
                <i></i>
            </div>
            <div class="inputBox" class="form-group">
                <input asp-for="CreateCustomer.FirstName" required="required">
                <span>FirstName</span>
                <i></i>
            </div>
            <div class="inputBox" class="form-group">
                <input asp-for="CreateCustomer.LastName" required="required">
                <span>LastName</span>
                <i></i>
            </div>
            <div class="inputBox" class="form-group">
                <input input asp-for="CreateCustomer.Email" required="required">
                <span>Email</span>
                <span asp-validation-for="CreateCustomer.Email" class="text-danger"></span>
                <i></i>
            </div>
            <div class="inputBox" class="form-group">
                <label asp-for="CreateCustomer.DateOfBirth" class="control-label"></label>
                <input asp-for="CreateCustomer.DateOfBirth.Date" type="date" class="form-control"/>
                <span asp-validation-for="CreateCustomer.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="inputBox" class="form-group">
                <input asp-for="CreateCustomer.Phone" required="required">
                <span>Phone</span>
                <i></i>
                <span asp-validation-for="CreateCustomer.Phone" class="text-danger"></span>
            </div>
            <div class="inputBox" class="form-group">
                <input asp-for="CreateCustomer.Address" required="required">
                <span>Address</span>
                <i></i>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </div>
        </form>
    </div>
</div>

</body>

</html>