<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Title -->
	<title>InkTatto</title>

	<!-- Bootstrap & Font-Awesome CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" type='text/css'>
	<link rel="stylesheet" href="/css/font-awesome.min.css" type='text/css'>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/style.css" type='text/css'>
	<link rel="stylesheet" href="/css/prettyPhoto.css" type='text/css'>
	<link rel="stylesheet" href="/css/responsive.css" type='text/css'>

	<!-- Animation CSS -->
	<link href="/css/animate.css" rel="stylesheet" type="text/css" media="all">

	<!-- Google Webfont -->
	<link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,700' rel="stylesheet" type='text/css'>

	<!-- js files & script -->
	<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/js/hover_pack.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript" src="/js/modernizr.js"></script>
	<script type="text/javascript" src="/js/retina.js"></script>
	<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="/js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<style>
		.header {
			background: url(../images/banner.jpg)no-repeat center top;
			background-size: 100% 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center;
			position: relative;
			min-height: 500px;
		}
	</style>
</head>
<body>
	
	<header id="header">
		<!-- Header Part -->
		<!-- this is dummy heading for W3-Validation approval you can remove it if you want -->
		<h2 class="w3-validation">For W3 Validation</h2>
		<!-- this is dummy heading for W3-Validation approval you can remove it if you want -->

		<div class="header" style="">
			<div class="container">
				<!-- start-top-nav -->
				<div class="top-nav">
					<div class="top-header">
						<div class="responsive-logo">
							<a href="index.html"><img src="images/logo.png" alt="" /></a>
						</div>
					</div>
					<nav class="nav">
						<a id="menu-toggle" class="anchor-link" href="#"><img src="images/nav.png" alt="" /></a>
						<ul class="nav-list" id="menu">
							<li><p><a asp-page="HomePage">Home</a></p></li>
							<li><a href="../Pages/Artists/ArtistIndex.cshtml" class="scroll">Art</a></li>
							<li><a href="#gallery" class="scroll">Art Work</a></li>
							<!-- logo -->
							<li class="logo"><a href="index.html"><img src="/images/logo.png" alt="" /></a></li>
							<!-- logo -->
							<li><a href="#faq" class="scroll">Faq</a></li>
							<li><a href="#find" class="scroll">Find Us</a></li>
							<li><p><a asp-page="LoginPage">Log In</a></p></li>
						</ul>
					</nav>
					<script type="text/javascript">
						$(document).ready(function () {

							$('#menu-toggle').click(function () {
								$('#menu').toggleClass('open');
								e.preventDefault();
							});

						});
					</script>
				</div>
				<!-- End-top-nav -->
			</div>
		</div>
	</header>
	<div>@RenderBody()</div>

	<section id="footer-section">
		<!-- Footer Section -->
		<!-- this is dummy heading for W3-Validation approval you can remove it if you want -->
		<h2 class="w3-validation">For W3 Validation</h2>
		<!-- this is dummy heading for W3-Validation approval you can remove it if you want -->

		<div class="container">
			<div class="row">
				<nav class="footer-nav">
					<ul class="nav-list wow fadeInDown" id="footer-menu">
						<li><a href="#">Home</a></li>
						<li><a href="#about" class="scroll">About</a></li>

						<!-- logo -->
						<li class="logo"><a href="index.html"><img src="/images/logo.png" alt="" /></a></li>
						<!-- logo -->
						<li><a href="#gallery" class="scroll">Art Work</a></li>
						<li><a href="#find" class="scroll">Find Us</a></li>

					</ul>
				</nav>
				<p class="copyright wow fadeInUp">&copy; 2015 InkTattoo. All Right Reserved. Developed by The <a href="http://theuncreativelab.com">Uncreative Lab</a> and <a href="http://www.themezy.com">Themezy.com</a>.</p>
			</div>
		</div>
	</section>


	<script type="text/javascript" charset="utf-8">
		$(document).ready(function () {
			$("a[rel^='prettyPhoto']").prettyPhoto();
		});
	</script>



	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
					containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>

	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>